<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sibetech.fellow.mapper.FellowAddressMapper">
    <select id="queryList" resultType="cn.sibetech.fellow.domain.FellowAddress">
        select p.* from xy_fellow_address p
        WHERE
        1=1
        <if test="address!=null">
            <if test="address.dataId!=null and address.dataId!=''">
                and p.data_id = #{address.dataId}
            </if>
        </if>
    </select>
</mapper>
